*
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!packages/
!packages/shared/
!packages/shared/**
!apps/
!apps/server/
!apps/server/**

**/.git
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/dist
**/dist-cjs
**/web-console-dist
**/coverage
**/*.log
