[submodule "distribution/plugins"]
	path = distribution/plugins
	url = https://github.com/Mr-BeanSir/GodGesture-Plugins.git
[submodule "apps/server"]
	path = apps/server
	url = https://github.com/Mr-BeanSir/GodGesture-Server.git
